.pro-container {
    /* background: url('../../videos/img1.jpeg') center center/cover no-repeat; */
    /* top: 0; */
    /* height: 100vh; */
    margin-top: 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center!important;
    align-items: center;
    /* box-shadow: inset 0 0 0 40px rgba(0, 0, 0, 0.2); */
    object-fit: contain;
    color: black
  }

  .pro-container > h1 {
      font-size: 2.5rem;
  }