.img-1 {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    top: 0;
    position: absolute;
    z-index: -1;
  }

  .hero-container > h1 {
      color: white;
      font-size: 4rem;
      z-index: 999;
      margin-top: 0;
  }
  .hero-container > h4 {
    color: white;
    font-size: 1.25rem;
    z-index: 999;
    margin-top: -2px;
}
  .overlay {
    opacity: .5;
    background-color: black;
    position: absolute;
    left: 0; top: 0; 
    height: 100vh; 
    width: 100%;
}

  .hero-container {
    /* background: url('../../videos/img1.jpeg') center center/cover no-repeat; */
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center!important;
    align-items: center;
    /* box-shadow: inset 0 0 0 40px rgba(0, 0, 0, 0.2); */
    object-fit: contain;
  }

  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  